body{background-image:url("https://qph.fs.quoracdn.net/main-qimg-fc2a5a17d5691d559a74f39f89c0a38c") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
     margin: 0;
    padding: 0px 0px 0px 0px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{background-image:url("https://qph.fs.quoracdn.net/main-qimg-fc2a5a17d5691d559a74f39f89c0a38c") ;
background-size: cover;
width: 100%;}
#menu > li {display: inline-block;}
#estilo{position: absolute;
left: 0px;
right: 0px;
top: 47px;}
h1{color: limegreen;}
h2{color: limegreen;}
h3{color: limegreen;
padding: 0px 0px 0px 50px;}
h4{color: seagreen;
    padding: 0px 0px 0px 65px;}
#c1{background-color: white;
position: absolute;
left: 0px;
right: 0px;}
#img_11{float: left; }
#p1{background-color: palegreen;
opacity: 0.7;
}
#img1{position: relative;
left: 420px;}
#img_1{background-color: palegreen;
    opacity: 0.9;}
#p2{background-color: palegreen;
    opacity: 0.7;}
.firulai{background-color: lawngreen;
border-style: dashed;
height: 50px;
width: 30%;
position:relative;
left: 420px;}
.abduzcan{
    text-align: justify;
}
#t1{
    padding: 0px 0px 0px 70px;
}
.pie-pagina {
    background-color: rgb(25, 59, 59);
    width: 100%;
    height: 100px;
    color: rgb(136, 132, 132);
    font-style: italic;
    font: 15px "Open Sans";
    
}
a:hover {
    background-color: rgb(41, 156, 12);
    color: aliceblue;
    transition-duration: 0.8s;
    text-decoration: none;
}
a {
    color: paleturquoise;
}
a:visited{
    color: dimgray;
}
@media (max-width: 750px){
    h3{
        padding: 0px 0px 0px 22px;
    }
    .firulai{border-style: dashed;
        height: 50px;
        width: 70%;
        position:relative;
        left: 70px;}
        #img1{position: relative;
            left: 50px;}
            #estilo{position: absolute;
                left: 0px;
                right: 0px;
                top: 50px;}
#estilo{
    top: 47px;
}
}